<div class="container pt-4">
  <% if @headers %>
    <br>
    <h4> Please match the column headers </h4>
    <br>
    <%= form_tag(import_csv_contacts_url, multipart: true, method: :post) do %>
      <%= label_tag 'Name Header' %>
      <%= select_tag :name_header, options_for_select(@headers) %>
      <br>
      <%= label_tag 'Bithdate Header' %>
      <%= select_tag :birthdate_header, options_for_select(@headers) %>
      <br>
      <%= label_tag 'Phone Header' %>
      <%= select_tag :phone_header, options_for_select(@headers) %>
      <br>
      <%= label_tag 'Address Header' %>
      <%= select_tag :address_header, options_for_select(@headers) %>
      <br>
      <%= label_tag 'Credit Card Header' %>
      <%= select_tag :credit_card_header, options_for_select(@headers) %>
      <br>
      <%= label_tag 'Email Header' %>
      <%= select_tag :email_header, options_for_select(@headers) %>
      <br>
      <%= hidden_field_tag :attachment, @file_path %>
      <br>
      <label class="btn btn-secondary btn-file">
        Select again CSV File
        <%= file_field_tag :attachment %>
      </label>
      <%= submit_tag("Submit") %>
    <% end %>


  <% end %>
</div>

