<p id="notice"><%= notice %></p>

<h1>File Importeds</h1>

<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_importeds.each do |file_imported| %>
      <tr>
        <td><%= file_imported.filename %></td>
        <td><%= file_imported.status %></td>
        <td><%= link_to 'Show', file_imported %></td>
        <td><%= link_to 'Edit', edit_file_imported_path(file_imported) %></td>
        <td><%= link_to 'Destroy', file_imported, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>